USE [master]
GO
/****** Object:  Database [maindb]    Script Date: 4/7/2023 12:40:18 AM ******/
CREATE DATABASE [maindb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'maindb', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\maindb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'maindb_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\maindb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [maindb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [maindb]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 4/7/2023 12:40:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](255) NOT NULL,
	[middlename] [varchar](255) NULL,
	[lastname] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
